# --- Go ---
# Компилированные бинарники (твоя программа)
*.exe

# Директория зависимостей (не нужно хранить в репо, они восстанавливаются через go mod download)
vendor/

# Кэш сборки (ускоряет повторную компиляцию, но не нужен в репо)
go.sum.lock

# Файлы, создаваемые IDE
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# --- Временные файлы и логи ---
*.log
tmp/
temp/
.tmp/

# --- Тесты и артефакты (если будешь генерировать файлы во время тестов) ---
OUTPUT
*.m3u
*.mp3
